body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: #fbf7f2;
  color: #1a1a1a;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 20px;
}


.initials {
  font-family: 'Cinzel', serif;
  font-size: 64px;
}

.greeting h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 48px;
  color: #5a0f1b;
}

.invite .names {
  font-family: 'Great Vibes', cursive;
  font-size: 56px;
}


.photo {
  padding: 40px 20px;
}

.photo-full {
  position: relative;
  width: 100%;
  height: 100vh;              /* Full screen height */
  background-image: url("assets/wedinv2.jpg");
  background-size: cover;     /* Auto adjust */
  background-position: center;
  background-repeat: no-repeat;
}

.photo-full::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
}


/*
.photo-full::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.6)
  );
}
*/

.photo-full {
  filter: brightness(1.05) contrast(1.05);
}



.event {
  margin: 12px;
  padding: 16px;
  border: 1px solid #c9a24d;
  display: inline-block;
}
